.form-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.form-group {
    margin-bottom: 1.2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #495057;
    font-weight: 500;
}

input,
input::placeholder {
    font-size: 1rem;
}

input,
select {
    width: 100%;
    padding: 0.8rem;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 0.3rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus,
select:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #28a745; /* Cor verde para o botão de cadastro */
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out;
}

button:hover {
    background-color: #218838;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.message {
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    text-align: center;
}